/* 自定义样式 */
.markdown-body {
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  color: black;
  padding: 10px;
  text-align: left;
  line-height: 1.6;
  word-wrap: break-word;
  word-break: break-word;
  letter-spacing: 1px;
  word-spacing: 0px;
}

/* 标题 */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-family: "Cascadia Code", "PingFang SC", Verdana, Helvetica Neue,
    Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei,
    sans-serif;
  font-weight: bold;
  color: #000;
  line-height: 1.35;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  border-left: 4px solid #1abc9c;
  padding-left: 0.5em;
}

.markdown-body h1 {
  font-size: 1.6rem;
}
.markdown-body h2 {
  font-size: 1.4rem;
}
.markdown-body h3 {
  font-size: 1.2rem;
}
.markdown-body h4 {
  font-size: 1rem;
}

/* 段落 */
.markdown-body p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}

/* 引用 */
.markdown-body blockquote {
  padding: 0.3em 1.4em;
  margin: 1em 0;
  font-weight: 400;
  border-left: 4px solid #7a7a7a;
  background-color: #f8f8f8;
  border-radius: 0px 3px 3px 0px;
  box-shadow: rgb(149 149 149 / 13%) 0px 5px 10px;
}
.markdown-body blockquote p {
  color: #999;
  font-weight: 400;
  margin: 5px 0;
  font-size: 14px;
}

/* 列表 */
.markdown-body ul,
.markdown-body ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 33px;
  color: black;
}
.markdown-body li ul,
.markdown-body li ol {
  margin-bottom: 0.8em;
}
.markdown-body li {
  color: rgb(20, 20, 20);
}
.markdown-body li section {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  text-align: left;
  color: rgb(1, 1, 1);
  font-weight: 500;
}

/* 链接 */
.markdown-body a {
  color: #1abc9c;
  text-decoration: none;
  border-bottom: 1px solid #1abc9c;
}

/* 代码片断 */
.markdown-body pre,
.markdown-body code,
.markdown-body pre tt {
  font-family: Courier, "Courier New", monospace;
  font-size: 0.9rem;
  color: black;
}

.markdown-body pre {
  margin: 14px 0;
  padding: 16px;
  background: #f8f8f8;
  font-size: 14px !important;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: auto;
}
.markdown-body pre code {
  white-space: pre-wrap;
}

/* 行内代码 */
.markdown-body p code,
.markdown-body li code {
  background: #f8f8f8;
  color: #1abc9c;
  padding: 3px 6px;
  border-radius: 3px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* 加粗字体 */
.markdown-body strong,
.markdown-body b {
  font-weight: bold;
  color: black;
}

/* 表格 */
.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown-body table th,
.markdown-body table td,
.markdown-body table caption {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  color: #464646;
}
.markdown-body table th {
  background: #fbfbfb;
}
.markdown-body table thead th {
  background-color: #f1f1f1;
}
.markdown-body table caption {
  border-bottom: none;
}

/* 图片 */
.markdown-body img {
  max-width: 100%;
}

/* 分割线 */
.markdown-body hr {
  border: none;
  border-bottom: 1px solid #ddd;
}

/* 斜体 */
.markdown-body em {
  color: #666;
  font-size: 0.9rem;
}

/* 链接引用 */
.markdown-body .reference-list {
  margin-top: 30px;
}

.markdown-body .reference-list h4 {
  border: none;
  color: black;
  padding: 0;
  font-size: 1.2rem;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
}

.markdown-body .reference-list p {
  margin-bottom: 3px;
  padding: 0;
  font-size: 14px;
}

.markdown-body .reference-list em {
  font-size: 14px;
  color: black;
}

.markdown-body .reference {
  color: #1abc9c;
  text-decoration: none;
  border-bottom: 1px solid #1abc9c;
}

/* 引用上标 */
.markdown-body sup {
  font-size: 10px;
  color: #555;
}