@charset "UTF-8";
/* MWeb：增大字体，便于阅读 */
:root {
  font-size: 16px;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
input,
select,
textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

/* 自定义样式 */
.markdown-body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  word-wrap: break-word;
  padding: 16px;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 1.2em;
}

/* 标题样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: 100;
  color: #000;
  line-height: 1.35;
}

.markdown-body h1 {
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
  margin-top: 24px;
  margin-bottom: 16px;
}

.markdown-body h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
  margin-top: 20px;
  margin-bottom: 16px;
}

/* 列表样式 */
.markdown-body ul,
.markdown-body ol {
  list-style: none;
  padding-left: 2em;
}

/* 引用样式 */
.markdown-body blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 0.5em 2em 0.5em 1em;
}
@media only screen and (max-width: 640px) {
  .markdown-body blockquote {
    margin: 1em 0;
  }
}

/* 代码样式 */
.markdown-body pre,
.markdown-body code,
.markdown-body pre tt {
  font-family: Courier, "Courier New", monospace;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown-body pre {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 1em 1.5em;
  display: block;
  -webkit-overflow-scrolling: touch;
}

/* 表格样式 */
.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/* 图片样式 */
.markdown-body img {
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
}

/* 一致的 del 样式 */
.markdown-body del {
  text-decoration: line-through;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
.markdown-body caption,
.markdown-body th {
  text-align: left;
}

.markdown-body q:before,
.markdown-body q:after {
  content: "";
}

/* 统一上标和下标 */
.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* 一致化 horizontal rule */
.markdown-body hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  height: 10px;
}

/* 加粗样式 */
.markdown-body strong,
.markdown-body b {
  font-weight: bold;
  color: #000;
}
