@charset "UTF-8";

/* 内外边距通常让各个浏览器样式的表现位置不同 */
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

/* 自定义样式 */
.markdown-body {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-all;
  padding: 16px;
}

/* 段落，下方未标注标签参数均同此处
   * 上边距 margin-top: 5px;
   * 下边距 margin-bottom: 5px;
   * 行高 line-height: 26px;
   * 词间距 word-spacing: 3px;
   * 字间距 letter-spacing: 3px;
   * 对齐 text-align: left;
   * 颜色 color: #3e3e3e;
   * 字体大小 font-size: 16px;
   * 首行缩进 text-indent: 2em;
   */
.markdown-body p {
}

/* 一级标题 */
.markdown-body h1 {
}

/* 一级标题内容 */
.markdown-body h1 .content {
}

/* 一级标题前缀 */
.markdown-body h1 .prefix {
}

/* 一级标题后缀 */
.markdown-body h1 .suffix {
}

/* 二级标题 */
.markdown-body h2 {
}

/* 二级标题内容 */
.markdown-body h2 .content {
}

/* 二级标题前缀 */
.markdown-body h2 .prefix {
}

/* 二级标题后缀 */
.markdown-body h2 .suffix {
}

/* 三级标题 */
.markdown-body h3 {
}

/* 三级标题内容 */
.markdown-body h3 .content {
}

/* 三级标题前缀 */
.markdown-body h3 .prefix {
}

/* 三级标题后缀 */
.markdown-body h3 .suffix {
}

/* 无序列表整体样式
     * list-style-type: square|circle|disc;
     */
.markdown-body ul {
}

/* 有序列表整体样式
     * list-style-type: upper-roman|lower-greek|lower-alpha;
     */
.markdown-body ol {
}

/* 列表内容，不要设置li
     */
.markdown-body li section {
}

/* 一级引用
     * 左边缘颜色 border-left-color: black;
     * 背景色 background: gray;
     */
.markdown-body .multiquote-1 {
}

/* 一级引用文字 */
.markdown-body .multiquote-1 p {
}

/* 二级引用
     */
.markdown-body .multiquote-2 {
}

/* 二级引用文字 */
.markdown-body .multiquote-2 p {
}

/* 三级引用
     */
.markdown-body .multiquote-3 {
}

/* 三级引用文字 */
.markdown-body .multiquote-3 p {
}

/* 链接 
     * border-bottom: 1px solid #009688;
     */
.markdown-body a {
}

/* 加粗 */
.markdown-body strong {
}

/* 斜体 */
.markdown-body em {
}

/* 加粗斜体 */
.markdown-body em strong {
}

/* 删除线 */
.markdown-body del {
}

/* 分隔线
     * 粗细、样式和颜色
     * border-top: 1px solid #3e3e3e;
     */
.markdown-body hr {
}

/* 图片
     * 宽度 width: 80%;
     * 居中 margin: 0 auto;
     * 居左 margin: 0 0;
     */
.markdown-body img {
}

/* 行内代码 */
.markdown-body p code,
.markdown-body li code {
}

/* 
     * 代码块不换行 display: -webkit-box !important;
     * 代码块换行 display: block;
     */
.markdown-body pre code {
  white-space: pre-wrap;
}

/*
     * 表格内的单元格
     * 字体大小 font-size: 16px;
     * 边框 border: 1px solid #ccc;
     * 内边距 padding: 5px 10px;
     */
.markdown-body table tr th,
.markdown-body table tr td {
}

/* 
     * 某一列表格列宽控制
     * n 可以修改为具体数字，不修改时表示所有列
     * 最小列宽 min-width: 85px;
     */
.markdown-body table tr th:nth-of-type(n),
.markdown-body table tr td:nth-of-type(n) {
}

/* 脚注文字 */
.markdown-body .footnote-word {
}

/* 脚注上标 */
.markdown-body .footnote-ref {
}

/* "参考资料"四个字 
     * 内容 content: "参考资料";
     */
.markdown-body .footnotes-sep:before {
}

/* 参考资料编号 */
.markdown-body .footnote-num {
}

/* 参考资料文字 */
.markdown-body .footnote-item p {
}

/* 参考资料解释 */
.markdown-body .footnote-item p em {
}

/* 行间公式
     * 最大宽度 max-width: 300% !important;
     */
.markdown-body .block-equation svg {
}

/* 行内公式
     */
.markdown-body .inline-equation svg {
}
